@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SomaticRounded";
  src: url("/my-flashcard/public/fonts/Somatic-Rounded.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */